.shutdown-container {
  background-color: #444;
  width: var(--app-width);
  height: calc(var(--app-height) - var(--header-height));
  padding-top: 200px;
  position: relative;
}

.time-picker {
  margin: 0 auto;
  width: 250px;
}

.time-input {
  width: 100%;
  height: 32px;
  font-size: 14px;
  padding: 0 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.action-button {
  width: 120px;
  height: 32px;
  margin: 0 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}

.action-button.success {
  background-color: #21a36f;
}

.action-button.warning {
  background-color: #f0a000;
}
