@font-face {
  font-family: "Cool";
  src: url(../assets/fonts/cool.ttf) format("truetype");
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#app {
  font-family: "Cool", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,
li {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.main-container {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}